body {
  
}

.searchBox  {

  width:100%;
 
   background-repeat: no-repeat;
 

}


/* Take out media calls */

.group {
  display: inline-block;
}
.resultsOutput {
background:rgba(0,0,0,0.5);
  color:white;
  margin:0
}
