
.gridOutputResults {
  width:185px;
  height:278px;
  padding:0;
  margin:0;
  position: relative;
  float: left;
}
.gridOutputResults p{
  width:185px;
 text-align:center;
   color: white;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.gridOutputResults img {
 position: absolute;
  left: 0;
  top: 0;
}

.gridTextResults{
   width:150px;
 height:25;
  padding:auto;
  margin:0;
  position: relative;
  float: center;
}
.row-centered {
    text-align:center;
}


.overlayText {
  color:white;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.50) 50%, rgba(255,255,255,0) 100%); 
background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 25%,rgba(0,0,0,0.50) 50%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.50) 51%,rgba(255,255,255,0) 100%);
  margin-top:0;
}

.overlayDetailText {
  color:white;
 background-color:rgba(0, 0, 0, 0.5);
}
.wide  {
  min-height:500px;
}
.inline-block-row {
  float:none;
  display:inline-block;
}
.overlayDetails {
  padding-top: 225px;
}

h1 {
   color:white;
  text-align:center;

}

.footer {
  text-align:center;
  color:#BDBDBD;
}

.footer img {
    display: block;
    margin: auto;
  
}