body {
  background:rgba(0,0,0,0.5);
  color:white;
  margin:0
}

.searchBox  {


   background-clip: initial;
     background-repeat: no-repeat;
    background-attachment: fixed;
   background-position: center top;
    margin-left:auto;
   margin-right:auto;
   display:center;
   text-align:center;

}


/* Take out media calls */

.group {
  display: inline-block;
}


#searchText{
  color:black;
}

.results {
   margin-left:auto;
   margin-right:auto;
   display:center;
   text-align:center;

}

.results p {
   background:rgba(0,0,0,0.5);
}

// in case your dealing with a inline element apply this to the parent 
