<!-- Basic search -->
 <div class="jumbotron" ng-controller="MainCtrl">
  <h1>Search for movies</h1>
  <p class="lead">
    <div ng-init="movieName='Seattle'">
        <p>
          <label for="movieName">Search:
            <input type="text" name="movieName" ng-model="movieName">
          </label>
        </p>
 
     <p>
          <button class="btn btn-lg btn-primary" ng-click="findMovies()">Find Movie</button>
        </p>
    </div>
     </p>

    <div ng-if="searchQuery" >
      <p class="lead">{{moviesFound.total_results}} movies found matching the query: {{searchQuery}}.</p>
      <dl class="horizontal " ng-repeat="movies in moviesFound.results">
        <dt>Title </dt>
        <dd>{{movies.original_title}}</dd>
        <dt>Synopsis</dt>
        <dd>{{movies.overview}}</dd>
        <dd><a ng-href="/#/current/{{city.id}}" class="btn btn-lg btn-primary">View Weather</a></dd>
      </dl>
    </div>
</div>
