<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Search for movies</h1>
  <p class="lead">
    <div ng-init="movieName='Seattle'">
        <p>
          <label for="movieName">Search:
            <input type="text" name="movieName" ng-model="movieName">
          </label>
        </p>
       <p>
         <h1>{{current.results[0].original_title}}</h1>
      </p> 
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Search</button>
        </p>
      <dl>
        <dt>Synopsis</dt>
        <dd>{{current.results[0].overview}}</dd>

        <dt>Release Data</dt>
        <dd>{{current.results[0].release_date}}</dd>
        <dt>The Movie Databe Average User Review:</dt>
        <dd>{{current.results[0].vote_average}} (out of 10) from {{current.results[0].vote_count}} users  </dl>
    </div>
  </p>
</div>