<div class="navbar navbar-inverse">
  <div class="container">
      <!--Overview end -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Movie Suggestor</a>
    </div>
  </div>
</div>
<div ng-if="similarlookupData">
  <div class="wide container" ng-style="{'background-image':' url( http://image.tmdb.org/t/p/original' + similarlookupData.images.backdrops[2].file_path +')'}">
    <div class="row">
      <h2 class="overlayText"> {{similarlookupData.original_title}}</h2>
    </div>
    <div class="row overlayDetails">
      <div class="row inline-block-row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <p class="overlayDetailText"> {{similarlookupData.tagline}}</p>
      </div>

      <div class="row inline-block-row col-xs-12 col-sm-12 col-md-2 col-md-offset-6 col-lg-2 col-lg-offset-6 col-xl-2 col-lg-offset-6">
        <img img src="http://image.tmdb.org/t/p/w154/{{similarlookupData.poster_path}}" alt="{{moviesFound.results[0].original_title}}">

      </div>
    </div>
  </div>
 

     <div>
    <h1>
        Find Suggestions By:
       </h1>
    <div class="container searchContainer">
<div class= "row buttonRow row-centered">
      <div class="row categories col-xs-12 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 col-xl-offset-1 col-xl-2">
        <button  type="button" class="btn btn-custom btn-lg btn-block" ng-click="show =1">Cast</button>
        </div>
  <div class="row categories col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-custom btn-lg btn-block" ng-click="show =2">Crew</button>
    </div>
  <div class="row categories col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-custom btn-lg btn-block" ng-click="show =3">Genres</button>
    </div>
  <div class="row categories col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-custom btn-lg btn-block" ng-click="show =4">Keywords</button>
    </div>
  <div class="row categories col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-custom btn-lg btn-block" ng-click="show =5">Similar</button></div>
  
 </div>
      </div>
      <div class="form-group" ng-show="show==1">
        <h1>Cast</h1>
        <div class="container">
          <div ng-repeat="castFound in similarlookupData.credits.cast | filter:{profile_path:''}">
            <div class=" row gridOutputResults col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2">

              <p>{{castFound.character}}: {{castFound.name}}</p>
              <a ng-href="/#/cast/{{castFound.id}}"> <img src="http://image.tmdb.org/t/p/w185/{{castFound.profile_path}}" alt=" {{castFound.name}}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="show==2">
      <h1>Crew</h1>
      <div class="container">
        <div ng-repeat="crewFound in similarlookupData.credits.crew  | filter:{profile_path:''}">
          <div class="row gridOutputResults col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2">

            <a ng-href="/#/crew/{{crewFound.id}}"> <img src="http://image.tmdb.org/t/p/w185/{{crewFound.profile_path}}" alt=" {{crewFound.name}}"></a>
            <p>{{crewFound.job}}: {{crewFound.name}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-show="show==3">
      <h1>Genres</h1>
      <div class="container">
        <div ng-repeat="genresFound in similarlookupData.genres">
          <div class="row gridTextResults col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2">
           
            <a href=" /#/genres/{{genresFound.id}}" role="button" type="button" class="btn btn-custom btn-sm btn-block ">{{genresFound.name}} </a>
            
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="show==4">
      <h1>Keywords</h1> 
      <div class="container">
        <div ng-repeat="keywordsFound in similarlookupData.keywords.keywords">
          <div class="row gridTextResults col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">

           <a href="/#/keywords/{{keywordsFound.id}}" role="button" type="button" class="btn btn-custom btn-sm btn-block ">{{keywordsFound.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="show==5">
      <h1>Similar results</h1>
      <div class="container">
        <div ng-repeat="similarFound in similarlookupData.similar.results  | filter:{poster_path:''}">
          <div class="row row-centered gridOutputResults col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2">
            <a ng-href="/#/similar/{{similarFound.id}}"> <img src="http://image.tmdb.org/t/p/w185/{{similarFound.poster_path}}" alt=" {{similarFound.name}}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
 